    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
   
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Follow the Data</a>
          
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="http://followthedatablog.wordpress.com/">Blog</a></li>
              <li><a href="/data/">Data</a></li>
                           
              <li class="dropdown">
                <a href="/" class="dropdown-toggle" data-toggle="dropdown">Hacks<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/hacks-overview/">Hacks Overview</a></li>
                  
                  <li class="divider"></li>
                  <li class="nav-header">London</li>
                  <li><a href="http://apify.followthedata.net/">API-fy</a></li>
                  <li><a href="http://comparethemap.followthedata.net/">Compare the Map</a></li>
                  <li><a href="http://factcache.followthedata.net/">Fact Cache</a></li>
                  
                  <li class="divider"></li>
                  <li class="nav-header">World Bank</li>
                  <li><a href="ff">World Bank</a></li>
                  
                  <li class="divider"></li>
                  <li class="nav-header">Lagos</li>
                  <li><a href="http://atare.followthedata.net/">Atare</a></li>
                  <li><a href="http://datacred.followthedatat.net/">DataCred</a></li>
                  <li><a href="http://datainterakt.followthedata.net/">Data InterAkt</a></li>
                  <li><a href="http://funnel.followthedata.net/">Funnel</a></li>
                  <li><a href="http://impactproject.followthedata.net">Impact Project NG</a></li>
                </ul>
              </li>

              <li><a href="/contact/">Contact</a></li>

            </ul>
          </div><!-- nav-collapse -->
        

        </div><!-- container -->
      </div><!-- navbar-inner -->
    </div><!-- navbar navbar-inverse navbar-fixed-top -->
